.number-counter{
    /* background-color: #121317; */
    margin: auto;
    /* padding: 20px auto; */
    background-image: url(../Images/try2.jpg);
    background-blend-mode: darken;
    background-color: #030029b3;
    background-size: cover;
    background-position:bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.wrapper{
    /* border: 1px solid white; */
    position: relative;
    width: 80vw;
    transform: translate(-50%, 0);
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: space-around;
    gap: 10px;
}
.counter-container{
    width: 22vmin;
    height: 22vmin;
    /* border: 1px solid orange; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em 0;
    position: relative;
    font-size: 16px;
    border-radius: 0.5em;
    background-color: #21242b;
    border-bottom: 10px solid #287ab9;
}
span.num{
    color: #fff;
    display: grid;
    place-items: center;
    font-weight: 600;
    font-size: 2.5em;
}
span.text{
    color: #fff;
    font-size: 1em;
    text-align: center;
    pad: 0.7em 0;
    font-weight: 400;
    line-height: 10px;
}
@media screen and (max-width:1024px) {
    .wrapper{
        width: 85vw;
    }
    .counter-container{
        height: 26vmin;
        width: 26vmin;
        font-size: 16px;
    }
}
@media screen and (max-width:768px){
    .wrapper{
        width: 90vw;
        flex-wrap: wrap;
        gap: 30px;
    }
    .counter-container{
        width: calc(50% - 40px);
        height: 30vmin;
        font-size: 14px;
    }
}
@media screen and (max-width:480px){
    .wrapper{
        gap: 15px;
    }
    .counter-container{
        width: 100%;
        height: 35vmin;
        font-size: 14px;
    }
}