*{ 
    padding: 0; 
    margin: 0; 
    box-sizing: border-box; 
} 
.top{ 
    margin: 50px auto; 
} 
.bottom{ 
    padding-bottom: 20px; 
    font-size: 32px; 
    /* text-shadow: 2px 2px 4px #000000; */ 
} 
.t-bottom{ 
    margin-bottom: 20px; 
    width: 100%; 
    box-shadow: 0px 5px 9px 7px #00000042; 
} 
.card-2{ 
    padding: 10px 10px; 
    /* border: 1px solid black; */ 
    /* background-color: #fff;  */
    backdrop-filter: blur(10px);
    color: #fff; 
    border-radius: 5px; 
    transition: 0.3s; 
} 
 
.timeline-top{ 
    z-index: -1; 
    top: 0px; 
    position: fixed; 
    width: 100vw; 
    height: 100vh; 
    background: url("../Images/img2.jpg") no-repeat center; 
    background-color: rgb(0 0 0 / 69%); 
    background-blend-mode: darken; 
    background-size: cover; 
    color: #fff; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    text-align: center; 
} 
.Sechedule-top{ 
    justify-content: space-between; 
    column-gap: 25px; 
} 
.Sechedule-padding{ 
    padding-bottom: 40px; 
}

.WebinarPart{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: auto;
    margin: 10px auto;
}

.glass-effect{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 20px 40px;
    width: 50%;
    /* overflow: hidden; */
    /* border: 2px solid white; */
}

.glass-effect .one{
    display: block;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    /* background: url("../Images/user5.jpg") no-repeat center; */
    border: 4px solid white;
    background-size: cover;
}

.glass-effect .speakerPhoto{
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 2px solid black;
    background: url("../Images/user5.jpg") no-repeat center;
    background-size: cover;
}

.glass-effect .speakerDetails{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.speakerDetails h1{
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
}

.speakerDetails p{
    font-size: 18px;
    text-align: center;
}

.speakerDetails div{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.speakerDetails span{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.speakerDetails span i:hover{
    background-color: white;
    color: #12335A;
    cursor: pointer;
}

.speakerDetails span i{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    margin: 2px 10px;
    border: 2px solid white;
    border-radius: 50%;
    font-size: 18px;
}

.time_and_date{
    position: absolute;
    width: 100%;
    height: auto;
    /* border: 2px solid white; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.time_and_date span{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
}

.time_and_date span i{
    color: #12335A;
    font-size: 30px;
    margin-bottom: 3px;
}

.time_and_date span p{
    text-align: center;
    font-size: 14px;
    line-height: 16px;
}

@media (max-width: 850px) {
    .WebinarPart{
        flex-direction: column;
    }

    .glass-effect{
        width: 100%;
        padding: 0%;
    }

    .time_and_date{
        position: relative;
        margin: 35px 10px;
    }
}


#seeDetails1{
    font-size: 12px;
    color: white;
    line-height: 20px;
    letter-spacing: 1px;
    padding-left: 10px;
}

#seeDetails1 i{
    margin-right: 4px;
    font-size: 12px;
}

@media (max-width: 950px) {
    .cotainer_of_round_cards{
        display: grid !important;
        grid-template-columns: 1fr 1fr;
    }

    .cotainer_of_round_cards .round_cards{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 768px) {
    .cotainer_of_round_cards{
        width: 90%;
    }
}

@media (max-width: 610px) {
    .cotainer_of_round_cards{
        grid-template-columns: 1fr;
    }
}

.speakerCard{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 300px;
    /* border: 2px solid black; */
    border-radius: 4px;
    overflow: hidden;
}

.speakerCard .one{
    position: absolute;
    display: block;
    height: 100%;
    width: 101%;
    clip-path: polygon(45% 0, 56% 24%, 31% 100%, 0 100%, 0 0);
    background-color: #12335A;
    left: 0px;
    z-index: 1;
}

.speakerCard .two{
    position: absolute;
    display: none;
    height: 100%;
    width: 100%;
    clip-path: polygon(54% 0, 65% 24%, 31% 100%, 0 100%, 0 0);
    background-color: #0EBDD6;
    left: 1px;
    z-index: 0;
}

.speakerCard .three{
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    left: 0px;
    z-index: 2;
    clip-path: polygon(46% 85%, 40% 100%, 0 100%, 0 85%);
    background-color: #0EBDD6;
}

.speakerCard .four{
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    left: 0px;
    z-index: 0;
    background-color: white;
    clip-path: polygon(0 79%, 100% 79%, 100% 100%, 0% 100%);
}

.speakerCard .five{
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    right: -66px;
    bottom: 40px;
    z-index: -1;
    background-color: #0EBDD6;
    clip-path: polygon(60% 31%, 100% 32%, 100% 100%, 46% 100%, 66% 43%);
}

.speakerCard .six{
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    clip-path: polygon(60% 33%, 82% 32%, 58% 100%, 38% 100%);
    bottom: 5px;
    left: -25px;
    z-index: -1;
    background-color: #0EBDD6;
}





  
