*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.top{
    margin: 50px auto;
}
.bottom{
    padding-bottom: 20px;
    font-size: 32px;
    /* text-shadow: 2px 2px 4px #000000; */
}
.t-bottom{
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0px 5px 9px 7px #00000042;
}
.card-2{
    padding: 10px 10px;
    /* border: 1px solid black; */
    background-color: #fff;
    color: #000;
    border-radius: 5px;
    transition: 0.3s;
}

.timeline-top{
    z-index: -1;
    top: 0px;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: url("../Images/img2.jpg") no-repeat center;
    background-color: rgb(0 0 0 / 69%);
    background-blend-mode: darken;
    background-size: cover;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
